// Fonts
$font-family: "Noto Sans JP", sans-serif;
$font-family-heading: $font-family;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Headings
$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// Theme Colours
$light: #fff;
$dark: #000;

$primary: #0088ff;
$secondary: #888;

$success: #00ad00;
$danger: #e30c0c;
$warning: #d1d100;
$info: #00d6d6;

// Page Colours
$body-colour: $dark;
$body-bg: #fff;

$heading-colour: $dark;
$link-colour: $primary;

$header-colour: $light;
$header-bg: $primary;

$nav-link-colour: $light;
$nav-link-hover-colour: darken($nav-link-colour, 20%);
$nav-link-current-colour: #ffff00;

$footer-bg: #3c4147;
$footer-colour: #fff;
$footer-link-colour: $footer-colour;

// Component Colours
$accordion-colour: $light;
$accordion-bg: $secondary;

$banner-colour: #888;

$splide-arrow-colour: $primary;
$splide-page-colour: #ccc;
$splide-page-active-colour: $primary;
