.banner {
    &__image {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .banner--small & {
            height: 30vh;
        }
        .banner--medium & {
            height: 50vh;
        }
        .banner--large & {
            height: 70vh;
        }
    }

    &__content {
        color: $banner-colour;

        @media (min-width: $md) {
            margin-left: 8rem;
        }
    }

    &__title {
        color: $banner-colour;
    }
}
