.content {
    &__row {
        display: flex;
        flex-direction: column;
        margin-left: -1rem;
        margin-right: -1rem;

        @media (min-width: $md) {
            flex-direction: row;
        }
    }

    &__col {
        width: 100%;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @media (min-width: $md) {
            margin-bottom: 0;
        }
    }
}
