.gallery {
    &__grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    &__grid-item {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;

        @media (min-width: $sm) {
            width: 50%;
        }
        @media (min-width: $lg) {
            width: 33.3%;
        }
        @media (min-width: $xxl) {
            width: 25%;
        }
    }

    &__photo {
        color: $body-colour;
        text-decoration: none;
    }

    &__image {
        width: 100%;
    }
}
