.header {
    background-color: $header-bg;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: $lg) {
            flex-direction: row;
        }
    }

    &__link {
        text-align: center;
        text-decoration: none;

        @media (min-width: $lg) {
            text-align: left;
        }
    }

    &__title {
        margin: 0;
        padding: 0.5rem;
        color: $header-colour;
    }

    &__logo {
        padding: 0.5rem;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
