.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    @media (min-width: $lg) {
        justify-content: right;
    }

    &__link {
        color: $nav-link-colour;
        padding: 0.5rem 1rem;
        text-decoration: none;

        &:hover {
            color: $nav-link-hover-colour;
        }

        &--current {
            color: $nav-link-current-colour;
        }
    }
}
