.userform {
    &__fields {
        margin-bottom: 0.5rem;
    }

    &__field-holder {
        input,
        select {
            display: inline-block;
            width: 100%;
            height: calc(1.25rem + 1rem + 2px);
            margin-bottom: 0.5rem;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: 1px solid #000;
            border-radius: 0.25rem;
        }

        input[type="file"] {
            height: auto;
            border: 2px dashed #999;
        }
    }

    &__label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    &__right-label {
        float: right;
    }

    .message {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .error {
        color: $danger;
    }
}
