*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    color: $body-colour;
    background-color: $body-bg;
    margin: 0;
}

.container,
.container-full {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    @media (min-width: $sm) {
        max-width: $sm - 16px;
    }
    @media (min-width: $md) {
        max-width: $md - 16px;
    }
    @media (min-width: $lg) {
        max-width: $lg - 16px;
    }
    @media (min-width: $xl) {
        max-width: $xl - 16px;
    }
    @media (min-width: $xxl) {
        max-width: $xxl - 16px;
    }
}
